/* universal selector */
* {
    font-family: roboto, monospace, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
  }
/* groupal selector */
.sticky-nav, main, .resume, .resume-container, .network-list, .hobbies, .technologies-list, .portfolio-gallery{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
.sticky-nav, .network-container{
    padding: 0.5rem;
}
main, footer{
    padding: 0 0.5rem;
}
.profile-pic, .resume-text, .hobbies, .technologies-list, .network-list{
    margin: 1rem 0;
    padding:0 0.8rem ;
}
.circle-btn, .profile-pic{
    border-radius: 50%;
}
svg{
    width: 100%;
    height: 20px;
}
.hobbies, .technologies-list{
    width: 100%;
    overflow: clip;
    height: 8rem;
    justify-content: flex-start;
}
li{
    margin: 0.5rem 0;
    width: 50%;
    text-align: justify;
    align-self: center;
}
/* /////////////// */
.sticky-nav{
    width: 100%;
    justify-content: flex-end;
}
.theme-btn{
    /* background varible */
    width:2.3rem;
    height: auto;
    display: flex;
    /* justify-content: flex-start; */
}
.circle-btn{
    width: 0.8rem;
    height: 0.8rem;
    display: block;
    background-color: white;
}
.profile-pic{
    padding: 0;
    width: 12rem;
}
.network-container{
    width: 100%;
}
.network-list{
    justify-content: space-evenly;
}
.network-list li{
    width: 2rem;
}
h4{
    width: -moz-available;
}
.portfolio-gallery{
    padding: 1rem 0;
    width: 100%;
}
.proyects-container{
    width: 100%;
}
.label{
    width: 70%;
}
.info-container{
    display: flex;
    flex-direction: column;
}
.proyect-label{
    padding: 1rem;
    margin: 0.5rem 0;
    height:9vh;
    background-size: cover;
    background-position: center;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease-out; 
}
/* class for js */
.active{
    height:50vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
/* //////////// */
footer{
    height: 5rem;
}

/* toggle classes */
.flex-end{
    justify-content: flex-end;
}
