/* default theme */
body {
    --text-color: #222;
    --bkg-color: #fff;
  }
body.dark-theme {
    --text-color: #eee;
    --bkg-color: #121212;
  }
/* dark theme */
@media (prefers-color-scheme: dark) {
    /* defaults to dark theme */
    body {
        --text-color: #eee;
        --bkg-color: #121212;
    }
    body.light-theme {
        --text-color: #222;
        --bkg-color: #fff;
    }
  }
  
  
  body {
    background: var(--bkg-color);
  }
  
  h1,p, ul, div{
    color: var(--text-color);
  } 